@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h2 class="glyphicon glyphicon-usd" ></h2>
    <p class="lead">Keep Track of Your Small Business Finaces.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <h2 class="glyphicon glyphicon-plus"></h2>
        <br />
        <p>
            Never again hate the finance side of your small business.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Organized</h2>
        <h2 class="glyphicon glyphicon-folder-close"></h2>
        <br />
        <p>Keep your records safe, secure and organized.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track Business</h2>
        <h2 class="glyphicon glyphicon-plus"></h2>
        <br />
        <p>You can easily track your business from your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>